.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    padding: 13.7vh max((100vw - 1024px) / 2, 50px);
    padding-bottom: 13.7vh;
    background-color: $color-white;
    color: $color-dark;
    font-family: $font-kn1;
    .group-flex5 {
        display: flex;
    }
    .family-area {
        width: 55%;
        .family-site {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 50px;
            margin-right: 15vw;
        }
        .link-site {
            display: block;
            margin-right: 20px;
            &:nth-child(n+3) {
                margin-top: 20px;
            }
            img {
                height: 24px;
            }
        }
        .sns {
            display: flex;
            align-items: center;
        }
        .link-sns {
            display: block;
            width: 40px;
            & + a {
                margin-left: 40px;
            }
        }
    }
    .download-area {
        width: 45%;
        padding-right: 10vw;
        .footer-tit {
            width: 193px;
        }
        .link-download {
            display: block;
            width: 140px;
            margin-top: 35px;
            img {
                width: 100%;
            }
        }
    }

    .addr-area {
        line-height: 1.5;
        p {
            margin-top: 25px;
        }
    }
    .addr-line1,
    .addr-line3 {
        span {
            display: block;
        }
    }
    .addr-line2 {
        span {
            &:last-of-type {
                display: block;
            }
        }

    }
    .link-info,
    .link-mail {
        text-decoration: underline;
    }
    .link-info {
        display: inline-block;
        margin-left: 12px;
    }
}

// footer responsive start
@include laptop {
    .footer {
        .family-area {
            .family-site {
                flex-direction: column;
            }
            .link-site {
                margin-right: 0;
                margin-top: 20px;
                &:nth-child(n+3) {
                    margin-top: 20px;
                }
            }
        }
    }
}
@include tablet {
    .footer {
        padding: 25px;
        .group-flex5 {
            flex-direction: column-reverse;
        }
        .family-area {
            width: 100%;
            margin-top: 30px;
            .family-site {
                width: 82%;
                flex-direction: row;
                margin-bottom: 20px;
            }
            .link-site {
                margin-right: 10px;
                margin-top: 10px;
                &:nth-child(n+3) {
                    margin-top: 10px;
                }
            }
            .link-sns {
                width: 36px;
                & + a {
                    margin-left: 20px;
                }
            }
            
        }
        .download-area {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-right: 0;
            .footer-tit {
                width: 150px;
            }
            .link-download {
                margin-top: 0;
            }
        }
        .addr-area {
            p {
                margin-top: 10px;
            }
        }
    }
}
// footer responsive end