.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 2.1vh;
    opacity: 1;
    -webkit-backdrop-filter: blur(13px);
    backdrop-filter: blur(13px);
    transition: opacity 0.5s;
    .link-logo {
        display: block;
        width: 150px;
        height: 100%;
        svg {
            fill: $color-white;
        }
    }
    .download-area {
        width: 140px;
    }
}

// header responsive start
@include laptop {
    .header {
        padding: 21px;
    }
}
@include tablet {
    .header {
        padding: 13px;
    }
}
// header responsive end